
#cardText{
    padding: 10px;
}
#titleCommum{
    font-size: xx-large;
}
#textCommum{
    font-size: x-large;
}
#content{
    margin:30px;
}
#wanted{
    max-width: 600px;
}
#fixing{
    bottom: 10px;
    position: fixed !important;
}

.Hypeness{
    top:-60px;
    }
#cardFinal{
    height: 50%;
}

@media (max-width:450px){
    #content{
        margin:15px;
        text-align: justify;
    }
    #textCommum{
        font-size: large;
    }
    #titleCommum{
        font-size: x-large;
    }
}
