#titleWhy{
    font-size: xx-large;
    text-align: center;
}
#titleCardWhy{
    padding: 10px;
    animation: titleAnima 0.7s;
}
#whyContent{
    animation: titleAnima 0.7s;
}
@keyframes titleAnima {
    from{
        opacity: 0;
        margin-top: 25px;
    }
    to{
        opacity: 1;
        margin-top: 10px;
    }
}