#titleListSub{
    font-size: larger;
}
#textCommum{
    font-size: x-large;
}
#content{
    margin:30px;
}

.Hypeness{
    top:-60px;
    }
#cardFinal{
    height: 50%;
}

@media (max-width:450px){
    #content{
        margin:15px;
        text-align: justify;
    }
    #titleListSub{
        font-size: medium;
    }
    #textCommum{
        font-size: large;
    }
}
