p {
    text-indent: 3.5rem;
    text-align: justify;
}

#content{
    margin:30px;
}

#cardFinal{
    height: 50%;
}

.textCommum{
    font-size: x-large;
}

.titleListSub{
    font-size: larger;
}

.bgColorGray{
    --background: #a4a4a4 !important;
    --color: black;
}

.Hypeness{
    top:-60px;
}

@media (max-width: 652px){
    #firts-paragrafo{
        flex-direction: column-reverse;
    }

    #primeiro-texto-aqui{
        width: 100% !important;
        max-width: none !important;
    }

    #img-side-text{
        width: 66% !important;
        align-self: center;
        max-width: none !important;
    }
}

@media (max-width:450px){
    #content{
        margin:15px;
        text-align: justify;
    }
    .titleListSub{
        font-size: medium;
    }
    .textCommum{
        font-size: large;
    }
}
