.clicked{
    animation: selecting 0.2s;
    border-bottom: 5px solid #e4495e;
}
#cttContent{
    animation: bodyAnima 0.7s;
    margin-top: 50px;
    max-height: 85vh;
    justify-content: center;
    align-items: center;
}
.line_form{
    margin-bottom: 25px;
    margin-left: 10%;
    width: 80%;
    display: block;
}
#send{
    margin-left: 40%;
    width: 20%;
}
#alerting{
    color:rgb(255, 0, 128);
    margin-left: 10%;
    max-width: 80%;
}
.noneDis{
    display: none;
}
.alertInput{
    display: flex;
    position: fixed;
    align-self: center;
    top: calc(100vh - 120px);
    background-color: #e4495e;
    padding: 20px;
    border-radius: 7px;
    left:-5px;
    animation: left-Right 10s;
    opacity: 0;
    font-size: larger;
}
@keyframes selecting {
    0%{
        border-bottom: 0px solid #e4495e;
    }
    100%{
        border-bottom: 5px solid #e4495e;
    }
}